---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/ui/navbar/index.astro';
import Hero from '../components/hero/index.astro';
import About from '../components/about/index.astro';
import Features from '../components/features/index.astro';
import Testimonials from '../components/testimonials/index.astro';
import Stats from '../components/Stats.astro';
---

<Layout title="CareHub | Santé connectée">
  <Navbar />
  <main>
    <Hero />
    <About />
    <Features />
    <Testimonials />
  </main>
</Layout>
